In [ ]:
import pandas as pd

Target web : [website](https://www.football-data.co.uk/data.php)

In [ ]:
import sys
print(sys.executable)
print(sys.version)

In [1]:
import pandas as pd

df = pd.read_csv('https://www.football-data.co.uk/mmz4281/2526/E0.csv')

df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92

In [2]:
df

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,E0,30/11/2025,12:00,Crystal Palace,Man United,1,2,A,1,0,...,2.05,1.75,2.10,1.83,2.35,1.81,2.10,1.71,2.15,1.86
126,E0,30/11/2025,14:05,Aston Villa,Wolves,1,0,H,0,0,...,2.05,1.75,2.12,1.82,2.05,1.88,1.98,1.79,2.18,1.83
127,E0,30/11/2025,14:05,Nott'm Forest,Brighton,0,2,A,0,1,...,2.10,1.70,2.11,1.83,2.10,1.83,2.03,1.74,2.12,1.87
128,E0,30/11/2025,14:05,West Ham,Liverpool,0,2,A,0,0,...,1.93,1.93,1.95,1.97,1.93,1.93,1.88,1.90,1.98,2.01
129,E0,30/11/2025,16:30,Chelsea,Arsenal,1,1,D,0,0,...,1.68,2.15,1.81,2.14,1.75,2.15,1.71,2.02,1.86,2.15

In [3]:
#rename the dataFrame 
df.rename(columns={'FTHG':'home_goals','FTAG':'away_goals'},inplace=True)
df

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,E0,30/11/2025,12:00,Crystal Palace,Man United,1,2,A,1,0,...,2.05,1.75,2.10,1.83,2.35,1.81,2.10,1.71,2.15,1.86
126,E0,30/11/2025,14:05,Aston Villa,Wolves,1,0,H,0,0,...,2.05,1.75,2.12,1.82,2.05,1.88,1.98,1.79,2.18,1.83
127,E0,30/11/2025,14:05,Nott'm Forest,Brighton,0,2,A,0,1,...,2.10,1.70,2.11,1.83,2.10,1.83,2.03,1.74,2.12,1.87
128,E0,30/11/2025,14:05,West Ham,Liverpool,0,2,A,0,0,...,1.93,1.93,1.95,1.97,1.93,1.93,1.88,1.90,1.98,2.01
129,E0,30/11/2025,16:30,Chelsea,Arsenal,1,1,D,0,0,...,1.68,2.15,1.81,2.14,1.75,2.15,1.71,2.02,1.86,2.15

## Read .csv from Multiple URLs with Pandas

"https://www.football-data.co.uk/mmz4281/2526/E0.csv"

In [9]:
#create a root var
root = "https://www.football-data.co.uk/mmz4281/"
#creat a list of leagues
leagues =['E0','E2','E3']
frames =[]

# looping through leagues, read multiple csv and append it into a list 
for league in leagues :
    for season in range(20,25):
        df = pd.read_csv(root + str(season) + str(season+1) + '/'+ league +'.csv',encoding='unicode_escape' )
        df.insert(1,'season',season)
        frames.append(df)

In [10]:
#lenght of fream
len(frames)

15

In [18]:
#show the first index
frames[5]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E2,20,12/09/2020,15:00,Accrington,Peterboro,2,0,H,1,...,2.03,0.25,2.02,1.83,2.08,1.83,2.09,1.87,2.02,1.81
1,E2,20,12/09/2020,15:00,Crewe,Charlton,0,2,A,0,...,1.88,0.00,1.95,1.90,1.96,1.94,2.00,1.95,1.94,1.89
2,E2,20,12/09/2020,15:00,Doncaster,Milton Keynes Dons,1,1,D,0,...,1.69,-0.25,1.80,2.05,1.81,2.12,1.85,2.12,1.80,2.05
3,E2,20,12/09/2020,15:00,Fleetwood Town,Burton,2,1,H,1,...,1.85,-0.50,1.98,1.88,1.95,1.95,2.06,1.95,1.97,1.86
4,E2,20,12/09/2020,15:00,Gillingham,Hull,0,2,A,0,...,1.86,0.00,1.85,2.00,1.91,2.00,1.93,2.06,1.85,1.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E2,20,09/05/2021,12:00,Milton Keynes Dons,Rochdale,0,3,A,0,...,2.56,-0.75,1.88,1.98,1.88,2.01,1.96,2.04,1.87,1.97
548,E2,20,09/05/2021,12:00,Oxford,Burton,4,0,H,2,...,2.38,-1.00,1.85,2.00,1.88,2.02,2.11,2.06,1.88,1.95
549,E2,20,09/05/2021,12:00,Portsmouth,Accrington,0,1,A,0,...,2.21,-1.00,1.95,1.90,1.99,1.90,2.07,1.94,1.95,1.88
550,E2,20,09/05/2021,12:00,Sunderland,Northampton,1,1,D,0,...,2.13,-1.25,1.98,1.88,2.02,1.88,2.10,1.91,2.01,1.83
551,E2,20,09/05/2021,12:00,Wigan,Swindon,3,4,A,1,...,2.28,-0.75,1.93,1.93,2.00,1.88,2.01,1.97,1.93,1.90

In [19]:
# create a dictionary with original name of league as key
dict_countries = {
              'Spanish La Liga':'SP1', 'Spanish Segunda Division':'SP2',
              'German Bundesliga':'D1', 
              'English Premier League':'E0', 'English League 1':'E2', 'English League 2':'E3',
             }

dict_historical_data = {} 

# looping through key elements
for league in dict_countries:
    frames = [] # one dataframe per league
    for season in range(15, 21):
        df = pd.read_csv(root + str(season) + str(season+1) + "/" + dict_countries[league]+ ".csv")
        df.insert(1, 'season', season)
        frames.append(df)
    df_frames = pd.concat(frames) # storing all seasons of a league in a single dataframe
    dict_historical_data[league] = df_frames # assigning dataframe to a new dictionary

In [27]:
#showing dataFrame
dict_historical_data['Spanish La Liga']

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,15,21/08/15,Malaga,Sevilla,0,0,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SP1,15,22/08/15,Ath Madrid,Las Palmas,1,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SP1,15,22/08/15,Espanol,Getafe,1,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SP1,15,22/08/15,La Coruna,Sociedad,0,0,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SP1,15,22/08/15,Vallecano,Valencia,0,0,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,20,22/05/2021,Osasuna,Sociedad,0,1,A,0,0,...,2.34,1.00,2.07,1.86,2.06,1.87,2.07,1.96,1.98,1.88
376,SP1,20,22/05/2021,Real Madrid,Villarreal,2,1,H,0,1,...,2.57,-1.00,2.01,1.92,2.00,1.93,2.02,2.02,1.95,1.92
377,SP1,20,22/05/2021,Valladolid,Ath Madrid,1,2,A,1,0,...,2.30,1.50,1.90,2.03,1.90,2.02,1.95,2.06,1.90,1.97
378,SP1,20,23/05/2021,Granada,Getafe,0,0,D,0,0,...,1.80,0.25,1.73,2.08,1.77,2.18,1.84,2.23,1.77,2.12
379,SP1,20,23/05/2021,Sevilla,Alaves,1,0,H,0,0,...,2.40,-1.50,1.97,1.96,1.93,1.99,2.13,2.03,1.99,1.88

### Filter DataFrame